table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

// tr:nth-child(even) {
//   background-color: #dddddd;
// }
// div {
//   background-color: red;
//   color: green;
// }
.container {
  margin: 20px;
  .header {
    text-align: center;
    margin-bottom: 10px;
  }
}
button {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background: #336cfb;
  color: #ffffff;
}
